* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    text-align: center;
    color: var(--font-color);
    transition: 0.3s;
    scroll-behavior: smooth;
}

:root {
    --body-bg: #000;
    --font-color: #fff;
    --detail-color: #fff;
}


header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2%;
}

header h1 {
    font-size: 500%;
}

.themeMenu {
    display: flex;
    position: absolute;
    right: 2%;
    top: 2%;
    padding: 0.4rem;
    width: 3rem;
    justify-content: center;
    border-radius: 12px;
    background-color: var(--detail-color);
}

.themeMenu i {
    color: var(--body-bg);
}

.themeMenu button,
svg {
    border-radius: 8px;
    border: none;
    background: none;
}

.themeMenu svg {
    border: 1.5px solid var(--font-color);
}

.themeMenu .hidden {
    display: none;
}

.themeMenu:hover .hidden {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.themeMenu:hover i {
    display: none;
}

nav {
    margin: 3rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    color: var(--font-color);
    padding: 0.5rem 1rem;
    margin: 1rem;
    border-left: 2px solid var(--detail-color);
    border-right: 2px solid var(--detail-color);
    transition: 0.3s;
}

nav a:hover {
    transition: 0.3s;
    transform: scale(1.15);
}

main {
    width: 70%;
    margin: 0 auto;
}

.comments {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
}

.comments h2 {
    text-align: left;
    margin-bottom: 1rem;
}

.comments form input {
    color: var(--font-color);
    text-align: left;
    padding: 0 1rem;
    width: 80%;
    height: 6rem;
    background-color: var(--body-bg);
    border: 2px solid var(--detail-color);
    border-radius: 20px;
}

.boxComment form {
    display: flex;
}

.boxComment i {
    position: relative;
    /* bottom: 1%; */
    margin-left: 1rem;
    left: -6rem;
    top: 4rem;
}

.boxComment i:hover {
    transform: scale(1.1);
    color: var(--detail-color);
}

.usersComments .user {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-right: 2px solid var(--detail-color);
    padding-right: 1rem;
}

.usersComments .user img {
    width: 40%;
    border-radius: 15px;
}


.usersComments .user h2 {
    margin: 0;
    font-size: 140%;
}

.usersComments {
    margin-top: 1rem;
    padding: 1.3rem;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--detail-color);
    border-radius: 13px;
}

.usersComments p {
    margin: 1rem;
    width: 70%;
    word-break: break-all;
}

/*   
  article {
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: var(--body-bg);
    margin: 1rem 0.5rem;
    padding: 0.5rem;
    border-radius: 20px;
    border: 2px solid var(--detail-color);
    justify-content: center;
  
  } */

article p {
    width: 80%;
    color: var(--font-color);
    text-align: left;
    padding-bottom: 1rem;
}

article h2 {
    text-align: left;
    font-size: 1.5rem;
    padding-bottom: 1rem;
    padding-top: 3rem;
    color: var(--font-color);
}

.top img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

aside {
    width: 22%;
    height: 100%;
    padding: 1rem;
    margin: 1rem 0;
    border: 2px solid var(--detail-color);
    border-radius: 20px;
    background-color: var(--body-bg);
}

aside img {
    width: 80%;
    border-radius: 50%;
    border: 2px solid var(--detail-color);
    margin-bottom: 1rem;
}

aside a {
    display: flex;
    justify-content: center;
    color: var(--font-color);
    text-decoration: none;
    border: 1px solid var(--detail-color);
    border-radius: 15px;
    box-shadow: 0.5px 2px var(--detail-color);
    margin-top: 1rem;
    padding: 0.3rem;
    align-items: center;
    transition: 0.5s;
}

aside a:hover {
    transition: 0.5s;
    box-shadow: none;
    transform: translateY(5%);
}

.social {
    display: flex;
    align-items: center;
}

aside a i {
    font-size: 1.6rem;
    margin-right: 0.3rem;
}

footer {
    margin-top: 2rem;
    border-top: 2px solid var(--detail-color);
    padding: 1.5rem;
}

footer a {
    text-decoration: none;
    color: var(--font-color);
    font-size: 1.4rem;
}

hr {
    margin-top: 2rem;
}

.return a {
    text-decoration: none;
    font-size: medium;
}

.return {
    position: absolute;
}
    

@media screen and (min-width: 0px) and (max-width: 1000px) {
    .themeMenu {
        flex-direction: column;
        width: 2rem;
    }

    .boxComment {
        width: 100%;
    }

    .usersComments {
        flex-direction: column;
    }

    .usersComments .user img {
        display: none;
    }

    .usersComments .user {
        text-align: center;
        border: none;
        border-bottom: 2px solid var(--detail-color);
    }
}