* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  text-align: center;
  color: var(--font-color);
  transition: 0.3s;
}

:root {
  --body-bg: #000;
  --font-color: #fff;
  --detail-color: #fff;
}


header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2%;
}

header h1 {
  font-size: 500%;
}

.themeMenu {
  display: flex;
  position: absolute;
  right: 2%;
  top: 2%;
  padding: 0.4rem;
  width: 3rem;
  justify-content: center;
  border-radius: 12px;
  background-color: var(--detail-color);
}


.themeMenu i {
  color: var(--body-bg);
}

.themeMenu button,
svg {
  border-radius: 8px;
  border: none;
  background: none;
}

.themeMenu svg {
  border: 1.5px solid var(--font-color);
}

.themeMenu .hidden {
  display: none;
}

.themeMenu:hover .hidden {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.themeMenu:hover i {
  display: none;
}


nav {
  margin: 3rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
  color: var(--font-color);
  padding: 0.5rem 1rem;
  margin: 1rem;
  border-left: 2px solid var(--detail-color);
  border-right: 2px solid var(--detail-color);
  transition: 0.3s;
}

nav a:hover {
  transition: 0.3s;
  transform: scale(1.15);
}

main {
  width: 90%;
  margin: 0 auto;
  display: flex;
}

.posts {
  width: 78%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;
}

article {
  display: flex;
  flex-direction: column;
  width: 40%;
  background-color: var(--body-bg);
  margin: 1rem 0.5rem;
  padding: 0.5rem;
  border-radius: 20px;
  border: 2px solid var(--detail-color);
  justify-content: center;

}

article p {
  padding: 1.5rem 2rem;
  height: 50%;
  color: var(--font-color);
  margin-bottom: 1rem;
}

article a {
  border: 2px solid var(--detail-color);
  border-radius: 15px;
  box-shadow: 0px 3px var(--detail-color);
  padding: 0.7rem;
  font-size: 1rem;
  text-decoration: none;
  margin-top: 1rem;
  margin-bottom: 0.6rem;
  color: var(--font-color);
  transition: 0.5s;
}

article a:hover {
  transition: 0.5s;
  box-shadow: none;
  transform: translateY(5%);
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
}

article h2 {
  justify-content: center;
  display: inline;
  position: absolute;
  z-index: 1000;
  color: var(--body-bg);
}

.top img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

aside {
  width: 22%;
  height: 100%;
  padding: 1rem;
  margin: 1rem 0;
  border: 2px solid var(--detail-color);
  border-radius: 20px;
  background-color: var(--body-bg);
}

aside img {
  width: 80%;
  border-radius: 50%;
  border: 2px solid var(--detail-color);
  margin-bottom: 1rem;
}

aside a {
  display: flex;
  justify-content: center;
  color: var(--font-color);
  text-decoration: none;
  border: 1px solid var(--detail-color);
  border-radius: 15px;
  box-shadow: 0.5px 2px var(--detail-color);
  margin-top: 1rem;
  padding: 0.3rem;
  align-items: center;
  transition: 0.5s;
}

aside a:hover {
  transition: 0.5s;
  box-shadow: none;
  transform: translateY(5%);
}

.social {
  display: flex;
  align-items: center;
}

aside a i {
  font-size: 1.6rem;
  margin-right: 0.3rem;
}

footer {
  margin-top: 2rem;
  border-top: 2px solid var(--detail-color);
  padding: 1.5rem;
}

footer a {
  text-decoration: none;
  color: var(--font-color);
  font-size: 1.4rem;
}

@media screen and (min-width: 0px) and (max-width: 1000px) {
  aside {
    display: none;
  }

  article {
    display: flex;
    width: 90%;
    justify-content: center;
  }

  main {
    width: 100%;
  }

  nav a {
    width: 75%;
    margin: 2px;
    border: none;
    border-bottom: 2px solid var(--detail-color);
  }

  .themeMenu {
    flex-direction: column;
    width: 2rem;
  }
}

























@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: var(--body-bg);
  overflow: hidden;
  z-index: -10;
  transition: 0s;
}

.background span {
  width: 1vmin;
  height: 1vmin;
  border-radius: 1vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 50;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


.background span:nth-child(0) {
  color: var(--detail-color);
  top: 12%;
  left: 73%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 9vw 7vh;
  box-shadow: -2vmin 0 0.27538135022545696vmin currentColor;
}

.background span:nth-child(1) {
  color: var(--detail-color);
  top: 91%;
  left: 96%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -16vw 23vh;
  box-shadow: 2vmin 0 0.4710907789229055vmin currentColor;
}

.background span:nth-child(2) {
  color: var(--detail-color);
  top: 52%;
  left: 61%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -6vw -15vh;
  box-shadow: -2vmin 0 0.42424550793862936vmin currentColor;
}

.background span:nth-child(3) {
  color: var(--detail-color);
  top: 7%;
  left: 91%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -2vw 14vh;
  box-shadow: 2vmin 0 0.2760057081928635vmin currentColor;
}

.background span:nth-child(4) {
  color: var(--detail-color);
  top: 93%;
  left: 28%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 13vw 20vh;
  box-shadow: 2vmin 0 0.6242597681310618vmin currentColor;
}

.background span:nth-child(5) {
  color: var(--detail-color);
  top: 46%;
  left: 97%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -8vw -4vh;
  box-shadow: 2vmin 0 1.0234532356203954vmin currentColor;
}

.background span:nth-child(6) {
  color: var(--detail-color);
  top: 5%;
  left: 78%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 10vw -8vh;
  box-shadow: -2vmin 0 0.49318287032722585vmin currentColor;
}

.background span:nth-child(7) {
  color: var(--detail-color);
  top: 43%;
  left: 40%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -5vw -24vh;
  box-shadow: -2vmin 0 0.9399635598026657vmin currentColor;
}

.background span:nth-child(8) {
  color: var(--detail-color);
  top: 88%;
  left: 19%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -5vw 4vh;
  box-shadow: -2vmin 0 0.4403394176249429vmin currentColor;
}

.background span:nth-child(9) {
  color: var(--detail-color);
  top: 60%;
  left: 14%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 1vw 5vh;
  box-shadow: 2vmin 0 0.43599453253697273vmin currentColor;
}

.background span:nth-child(10) {
  color: var(--detail-color);
  top: 69%;
  left: 21%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -3vw -16vh;
  box-shadow: -2vmin 0 0.6154934287869147vmin currentColor;
}

.background span:nth-child(11) {
  color: var(--detail-color);
  top: 20%;
  left: 43%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -6vw 12vh;
  box-shadow: 2vmin 0 1.1883772798756504vmin currentColor;
}

.background span:nth-child(12) {
  color: var(--detail-color);
  top: 24%;
  left: 67%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 2vw -3vh;
  box-shadow: -2vmin 0 0.267658226001954vmin currentColor;
}

.background span:nth-child(13) {
  color: var(--detail-color);
  top: 10%;
  left: 30%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -22vw 1vh;
  box-shadow: -2vmin 0 0.4053785415882025vmin currentColor;
}

.background span:nth-child(14) {
  color: var(--detail-color);
  top: 68%;
  left: 46%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -21vw -16vh;
  box-shadow: 2vmin 0 0.9191083418990091vmin currentColor;
}

.background span:nth-child(15) {
  color: var(--detail-color);
  top: 21%;
  left: 39%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -23vw -10vh;
  box-shadow: 2vmin 0 0.2719824636793464vmin currentColor;
}

.background span:nth-child(16) {
  color: var(--detail-color);
  top: 96%;
  left: 6%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 2vw 10vh;
  box-shadow: -2vmin 0 1.0808496465702444vmin currentColor;
}

.background span:nth-child(17) {
  color: var(--detail-color);
  top: 88%;
  left: 1%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -5vw -22vh;
  box-shadow: -2vmin 0 0.3026292771775181vmin currentColor;
}

.background span:nth-child(18) {
  color: var(--detail-color);
  top: 39%;
  left: 5%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -4vw 4vh;
  box-shadow: -2vmin 0 0.6664745303821307vmin currentColor;
}

.background span:nth-child(19) {
  color: var(--detail-color);
  top: 76%;
  left: 68%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -6vw 5vh;
  box-shadow: -2vmin 0 1.1057708346822341vmin currentColor;
}

.background span:nth-child(20) {
  color: var(--detail-color);
  top: 82%;
  left: 19%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 19vw 3vh;
  box-shadow: -2vmin 0 0.3862450667494819vmin currentColor;
}

.background span:nth-child(21) {
  color: var(--detail-color);
  top: 63%;
  left: 38%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -24vw 15vh;
  box-shadow: 2vmin 0 1.144984982098901vmin currentColor;
}

.background span:nth-child(22) {
  color: var(--detail-color);
  top: 31%;
  left: 13%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 5vw 19vh;
  box-shadow: -2vmin 0 1.020121044843505vmin currentColor;
}

.background span:nth-child(23) {
  color: var(--detail-color);
  top: 21%;
  left: 69%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 23vw 7vh;
  box-shadow: -2vmin 0 1.205088334195362vmin currentColor;
}

.background span:nth-child(24) {
  color: var(--detail-color);
  top: 34%;
  left: 9%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -22vw -8vh;
  box-shadow: -2vmin 0 0.3853865236024223vmin currentColor;
}

.background span:nth-child(25) {
  color: var(--detail-color);
  top: 98%;
  left: 85%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -15vw -20vh;
  box-shadow: -2vmin 0 0.5075718724492619vmin currentColor;
}

.background span:nth-child(26) {
  color: var(--detail-color);
  top: 86%;
  left: 89%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 8vw -11vh;
  box-shadow: -2vmin 0 0.8697546106871674vmin currentColor;
}

.background span:nth-child(27) {
  color: var(--detail-color);
  top: 61%;
  left: 79%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 16vw -16vh;
  box-shadow: -2vmin 0 0.8439808485837965vmin currentColor;
}

.background span:nth-child(28) {
  color: var(--detail-color);
  top: 27%;
  left: 3%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -14vw -2vh;
  box-shadow: 2vmin 0 0.8115520247718744vmin currentColor;
}

.background span:nth-child(29) {
  color: var(--detail-color);
  top: 14%;
  left: 58%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 6vw 5vh;
  box-shadow: -2vmin 0 1.0531775673042068vmin currentColor;
}

.background span:nth-child(30) {
  color: var(--detail-color);
  top: 3%;
  left: 57%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -23vw 20vh;
  box-shadow: 2vmin 0 0.35795235282371785vmin currentColor;
}

.background span:nth-child(31) {
  color: var(--detail-color);
  top: 67%;
  left: 6%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 23vw 9vh;
  box-shadow: -2vmin 0 0.3169018373170718vmin currentColor;
}

.background span:nth-child(32) {
  color: var(--detail-color);
  top: 23%;
  left: 36%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -20vw 4vh;
  box-shadow: -2vmin 0 0.9532379128753996vmin currentColor;
}

.background span:nth-child(33) {
  color: var(--detail-color);
  top: 92%;
  left: 67%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -4vw -3vh;
  box-shadow: 2vmin 0 0.7856214711991198vmin currentColor;
}

.background span:nth-child(34) {
  color: var(--detail-color);
  top: 53%;
  left: 52%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 25vw 14vh;
  box-shadow: 2vmin 0 1.0495278782192048vmin currentColor;
}

.background span:nth-child(35) {
  color: var(--detail-color);
  top: 6%;
  left: 84%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 4vw -12vh;
  box-shadow: 2vmin 0 1.0270727966097692vmin currentColor;
}

.background span:nth-child(36) {
  color: var(--detail-color);
  top: 79%;
  left: 40%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 17vw 18vh;
  box-shadow: 2vmin 0 0.45437303067058754vmin currentColor;
}

.background span:nth-child(37) {
  color: var(--detail-color);
  top: 91%;
  left: 87%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -7vw -19vh;
  box-shadow: -2vmin 0 1.191177573704821vmin currentColor;
}

.background span:nth-child(38) {
  color: var(--detail-color);
  top: 38%;
  left: 100%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -14vw 7vh;
  box-shadow: -2vmin 0 1.0581719142624308vmin currentColor;
}

.background span:nth-child(39) {
  color: var(--detail-color);
  top: 89%;
  left: 89%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -9vw -8vh;
  box-shadow: 2vmin 0 1.0682960506211483vmin currentColor;
}

.background span:nth-child(40) {
  color: var(--detail-color);
  top: 60%;
  left: 50%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -16vw -1vh;
  box-shadow: 2vmin 0 0.9438409726963655vmin currentColor;
}

.background span:nth-child(41) {
  color: var(--detail-color);
  top: 85%;
  left: 47%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -5vw 13vh;
  box-shadow: 2vmin 0 0.27575655594672743vmin currentColor;
}

.background span:nth-child(42) {
  color: var(--detail-color);
  top: 4%;
  left: 10%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 8vw 14vh;
  box-shadow: -2vmin 0 1.175673549019227vmin currentColor;
}

.background span:nth-child(43) {
  color: var(--detail-color);
  top: 3%;
  left: 89%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 12vw -2vh;
  box-shadow: -2vmin 0 0.29786846132406564vmin currentColor;
}

.background span:nth-child(44) {
  color: var(--detail-color);
  top: 30%;
  left: 64%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -14vw 4vh;
  box-shadow: -2vmin 0 0.7660666858949277vmin currentColor;
}

.background span:nth-child(45) {
  color: var(--detail-color);
  top: 10%;
  left: 57%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -2vw -7vh;
  box-shadow: 2vmin 0 1.182817788901344vmin currentColor;
}

.background span:nth-child(46) {
  color: var(--detail-color);
  top: 33%;
  left: 42%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 1vw 25vh;
  box-shadow: 2vmin 0 0.3346138495409887vmin currentColor;
}

.background span:nth-child(47) {
  color: var(--detail-color);
  top: 83%;
  left: 66%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -24vw 22vh;
  box-shadow: -2vmin 0 0.5501824184393849vmin currentColor;
}

.background span:nth-child(48) {
  color: var(--detail-color);
  top: 41%;
  left: 93%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -20vw -23vh;
  box-shadow: 2vmin 0 0.7813935994895793vmin currentColor;
}

.background span:nth-child(49) {
  color: var(--detail-color);
  top: 81%;
  left: 57%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -12vw -3vh;
  box-shadow: -2vmin 0 1.17089601091446vmin currentColor;
}